@using Microsoft.AspNetCore.Authorization
@using ASPCoreMVC.Permissions
@inject IAuthorizationService _IAuthorizationService
@{
    var UserManagerGranted = (await _IAuthorizationService
    .AuthorizeAsync(ASPCoreMVCPermissions.UserManager.Default)).Succeeded;

    var WordClassesManagerGranted = (await _IAuthorizationService
    .AuthorizeAsync(ASPCoreMVCPermissions.WordClassesManager.Default)).Succeeded;

    var VocabularyTopicManagerGranted = (await _IAuthorizationService
    .AuthorizeAsync(ASPCoreMVCPermissions.VocabularyTopicManager.Default)).Succeeded;

    var VocabularyManagerGranted = (await _IAuthorizationService
    .AuthorizeAsync(ASPCoreMVCPermissions.VocabularyManager.Default)).Succeeded;

    var FileManagerGranted = (await _IAuthorizationService
    .AuthorizeAsync(ASPCoreMVCPermissions.FileManager.Default)).Succeeded;

    var GrammarManagerGranted = (await _IAuthorizationService
    .AuthorizeAsync(ASPCoreMVCPermissions.GrammarManager.Default)).Succeeded;

    var ExamManagerGranted = (await _IAuthorizationService
    .AuthorizeAsync(ASPCoreMVCPermissions.ExamManager.Default)).Succeeded;

    var IsDisplayAdmin = UserManagerGranted ||
        WordClassesManagerGranted ||
        VocabularyTopicManagerGranted ||
        VocabularyManagerGranted ||
        FileManagerGranted ||
        GrammarManagerGranted ||
        ExamManagerGranted || CurrentUser.IsInRole("admin");
}

@if (!IsDisplayAdmin)
{
    return;
}

<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="adminMenuDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-tie"></i>
        <!-- Counter - Alerts -->
        @*<span class="badge badge-danger badge-counter">3+</span>*@
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="adminMenuDropdown">
        <h6 class="dropdown-header">
            @L["Manager Options"]
        </h6>

        @if (UserManagerGranted)
        {
            <a class="dropdown-item d-flex align-items-center" href="/manager/users">
                <div class="mr-3">
                    <div class="icon-circle bg-primary">
                        <i class="fas fa-user-friends text-white"></i>
                    </div>
                </div>
                <div>
                    <span class="font-weight-bold">@L["Users manager"]</span>
                    <div class="small text-gray-500">Manage all users</div>
                </div>
            </a>
        }
        @if (WordClassesManagerGranted)
        {
            <a class="dropdown-item d-flex align-items-center" href="/manager/word-classes">
                <div class="mr-3">
                    <div class="icon-circle bg-info">
                        <i class="fas fa-layer-group text-white"></i>
                    </div>
                </div>
                <div>
                    <span class="font-weight-bold">@L["Word classes"]</span>
                    <div class="small text-gray-500">Manage all word classes</div>
                </div>
            </a>
        }

        @if (VocabularyTopicManagerGranted)
        {
            <a class="dropdown-item d-flex align-items-center" href="/manager/vocabulary-topics">
                <div class="mr-3">
                    <div class="icon-circle bg-info">
                        <i class="fas fa-hamburger text-white"></i>
                    </div>
                </div>
                <div>
                    <span class="font-weight-bold">@L["Vocabulary topics"]</span>
                    <div class="small text-gray-500">Manage all vocabulary topics</div>
                </div>
            </a>
        }

        @if (VocabularyManagerGranted)
        {
            <a class="dropdown-item d-flex align-items-center" href="/manager/vocabularies">
                <div class="mr-3">
                    <div class="icon-circle bg-info">
                        <i class="fas fa-book-open text-white"></i>
                    </div>
                </div>
                <div>
                    <span class="font-weight-bold">@L["Vocabularies manager"]</span>
                    <div class="small text-gray-500">Manage vocabularies</div>
                </div>
            </a>
        }

        @if (FileManagerGranted)
        {
            <a class="dropdown-item d-flex align-items-center" href="/manager/files">
                <div class="mr-3">
                    <div class="icon-circle bg-danger">
                        <i class="fas fa-photo-video text-white"></i>
                    </div>
                </div>
                <div>
                    <span class="font-weight-bold">@L["Files manager"]</span>
                    <div class="small text-gray-500">Manage all files</div>
                </div>
            </a>
        }

        @if (GrammarManagerGranted)
        {
            <a class="dropdown-item d-flex align-items-center" href="/manager/grammars">
                <div class="mr-3">
                    <div class="icon-circle bg-warning">
                        <i class="fas fa-spell-check text-white"></i>
                    </div>
                </div>
                <div>
                    <span class="font-weight-bold">@L["Grammars"]</span>
                    <div class="small text-gray-500">Manage all grammars</div>
                </div>
            </a>
        }

        @if (ExamManagerGranted)
        {
            <a class="dropdown-item d-flex align-items-center" href="/manager/exam-categories">
                <div class="mr-3">
                    <div class="icon-circle bg-success">
                        <i class="fas fa-graduation-cap text-white"></i>
                    </div>
                </div>
                <div>
                    <span class="font-weight-bold">@L["Exams manager"]</span>
                    <div class="small text-gray-500">Manage all exams</div>
                </div>
            </a>
        }
    </div>
</li>