<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.Name">

<head>
    <partial name="@AppTheme.HeaderImports" />
    @RenderSection("Styles", false)
    @Html.PageStyles()
</head>

<body class="bg-gradient-primary" id="page-top">
    <div id="loading-waiting" class="position-fixed vh-100 vw-100 overflow-hidden bg-white text-center" style="z-index:9999;">
        <img src="/dist/img/octo-loader.gif" />
    </div>
    <partial name="@AppTheme.ExamHeaderBar" />
    <div class="container">
        @RenderBody()
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <partial name="@AppTheme.FooterImports" />
    @RenderSection("Scripts", false)
    @Html.PageScripts()
</body>

</html>