@page "/discussions"
@model ASPCoreMVC.Web.Pages.Discussions.IndexModel
@{
    Model.SetBreadcrumbBtn(L["Create new"].Value,
    $"javascript:showVtModal();",
    icon: "fas fa-plus",
    c: "btn-primary");

    Model.SetBreadcrumb(
        new string[] { L["Disscussions"].Value });

}

@section Scripts {
    <script src="/dist/js/main-hub.js"></script>
    <script>
        currentUserId = '@CurrentUser.Id.ToString()';
        var defDisL = {
            p: 1,
            filter: ""
        }
        function loadDiscussions(p = defDisL.p, filter = defDisL.filter) {
            $("#discussion-list").load(`/latest-discussion?p=${p}&filter=${filter}`, () => {
                initDisSearch();
                initRoomChangeable();
            });
        }
        function initDisSearch() {
            $("#search-vt-btn").click(event => {
                var inp = $("#search-vt-inp").val();
                loadDiscussions(1, inp);
            });
        }
        loadDiscussions();
        function onHaveNewMessage_ReloadList() {
            if (!defDisL.filter && defDisL.filter.length <= 0) {
                loadDiscussions(1, '');
            }
        }
        function loadPreviousMessage(msgId) {
            var oldestUserMessageId = $("#oldest-mgs-id").val();
            var query = `/load-previous-messages?messGroupId=${msgId}`;
            if (oldestUserMessageId && oldestUserMessageId.length > 0) {
                query += `&oldestUserMessageId=${oldestUserMessageId}`;
            }
            fetch(query)
                .then(r => r.text())
                .then(data => {
                    $(`#${msgId}-latest-msg`).removeClass("font-weight-bold");
                    $("#message-content").prepend(data);
                    scrollEnd();
                });
        }
    </script>
}

<div class="row">
    <div class="col-12 col-lg-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between bg-info">
                <h6 class="m-0 font-weight-bold text-white">@L["Discussion"]</h6>
            </div>
            <div class="card-body">
                <div class="card shadow-sm mb-3">
                    <div class="p-3 d-sm-flex align-items-center justify-content-start room-changeable"
                         data-room-id=""
                         data-room-name="@L["General discussion room"]">
                        <img src="/dist/img/ccccccc.jpg"
                             height="80" />
                        <div class="ml-3">
                            <div class="font-weight-bold text-lg" style="color: #000;">@L["General discussion room"]</div>
                            <div class="text-success" style="color: #000;">@L["Online"]: <span id="online-general-room-counter">0</span></div>
                        </div>
                    </div>
                </div>
                <div id="discussion-list"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between bg-info">
                <h6 class="m-0 font-weight-bold text-white">@L["Messages"] - <span id="room-name">@L["General discussion room"]</span></h6>
            </div>
            <div class="card-body" id="note-content">
                <input type="hidden" value="" id="oldest-mgs-id" />
                <div class="message-list-box border border-info rounded p-3" id="message-content">
                </div>
                <hr />
                <div class="d-flex mt-3">
                    <form class="w-100">
                        <textarea class="form-control" id="msg-value"></textarea>
                        <div class="row">
                            <div class="col-12 text-center">
                                <button type="button" class="btn btn-primary shadow-sm btn-sm mt-3" id="send-message" disabled>
                                    <i class="fas fa-paper-plane"></i> @L["Send"]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>