@using ASPCoreMVC.TCUEnglish.ExamCategories
@{
    var allSkillCats = (List<SkillCatMinifyDTO>)ViewData["AllSkillCats"];
    var currenExamCatId = (Guid)ViewData["CurrentExamCatId"];
}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">@L["Histories"] (<span id="show-count">0</span>)</h6>
        <div class="" style="max-width: 300px;">
            <select class="form-control" id="show-history-type">
                <option value="">All for @ViewData["CurrentExamCatName"]</option>
                @foreach (var sc in allSkillCats)
                {
                    <optgroup label="@sc.Name">
                        @foreach (var sp in sc.SkillParts)
                        {
                            <option value="@sp.Id">@sp.Name</option>
                        }
                        <option value="@sc.Id">@sc.Name's synthetic</option>
                    </optgroup>
                }
            </select>
        </div>
    </div>
    <div class="card-body" id="history-content">
    </div>
</div>