<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">@L["History"] - <span id="show-type">All</span></h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">@L["View by"]:</div>
                <a class="dropdown-item" href="#">@L["Week"]</a>
                <a class="dropdown-item" href="#">@L["Month"]</a>
                <a class="dropdown-item" href="#">@L["Year"]</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <partial name="~/Pages/Dashboard/Partials/History.Status.cshtml" />

        <partial name="~/Pages/Dashboard/Partials/History.Tables.cshtml" />
    </div>
</div>