@using ASPCoreMVC.TCUEnglish.ScoreLogs
@{
    var balanceSkills = (List<SkillCatScoresAvgDTO>)ViewData["BalanceSkills"];
}
<div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            @L["Skills Assessment"]
        </h6>
    </div>
    <div class="card-body">
        @foreach (var bs in balanceSkills)
        {
            var rate = (int)(bs.ScoresRate * 100);
            <h4 class="small font-weight-bold">
                @bs.Name <span class="float-right">@rate%</span>
            </h4>
            <div class="progress mb-4">
                <div class="progress-bar" role="progressbar" style="width: @Html.Raw($"{rate}%");background-color: @Html.Raw(bs.HexColor);"
                     aria-valuenow="@rate" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        }
    </div>
</div>