@page "/exams/exam-categories"
@model ASPCoreMVC.Web.Pages.Exams.ExamsIndexModel
@{
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Exams</h1>
    <a href="#" class="d-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white"></i> Generate Report
    </a>
</div>

<div class="row">
    @foreach (var item in Model.Exams)
    {
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-primary">
                    <h6 class="m-0 font-weight-bold text-white">@item.Exam.Name</h6>
                    <a href="javascript:loadDetail('@ASPCoreMVC.Common.HelperTipsTypes.Exam','@item.Exam.Id');"
                       class="d-inline-block btn btn-sm btn-success shadow-sm">
                        <i class="fas fa-star fa-sm text-white mr-1"></i> Open
                    </a>
                </div>
                <div class="card-body">
                    <div id="accordion">
                        @foreach (var sc in item.Scs)
                        {
                            <div class="card">
                                <div class="card-header" id="h-@sc.Cat.Id" data-toggle="collapse" data-target="#c-@sc.Cat.Id" aria-expanded="true" aria-controls="c-@sc.Cat.Id">
                                    <div class="">
                                        <i class="fas fa-arrow-alt-circle-right mx-2"></i>
                                        <span class="font-weight-bold">@sc.Cat.Name</span>
                                    </div>
                                </div>

                                <div id="c-@sc.Cat.Id" class="collapse" aria-labelledby="h-@sc.Cat.Id" data-parent="#accordion">
                                    <div class="card-body">
                                        @if (sc.Parts.Count > 1)
                                        {
                                            @foreach (var p in sc.Parts)
                                            {
                                                <div class="d-flex flex-row align-items-center justify-content-between p-2 rounded">
                                                    <div class="text-dark">
                                                        <i class="fas fa-circle mx-2"></i>
                                                        <span class="font-weight-bold">@p.Name</span>
                                                    </div>
                                                    <div class="">
                                                        <a href="javascript:loadDetail('@ASPCoreMVC.Common.HelperTipsTypes.SkillPart','@p.Id', '@item.Exam.Name', '@sc.Cat.Name');"
                                                           class="d-inline-block btn btn-sm btn-success shadow-sm">
                                                            <i class="fas fa-star fa-sm text-white mr-1"></i> Open
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <div class="d-flex flex-row align-items-center justify-content-between p-2 rounded">
                                            <div class="text-dark">
                                                <i class="fas fa-circle mx-2"></i>
                                                <span class="font-weight-bold">@sc.Cat.Name's synthetic</span>
                                            </div>
                                            <div class="">
                                                <a href="javascript:loadDetail('@ASPCoreMVC.Common.HelperTipsTypes.SkillCategory','@sc.Cat.Id','@item.Exam.Name');"
                                                   class="d-inline-block btn btn-sm btn-success shadow-sm">
                                                    <i class="fas fa-star fa-sm text-white mr-1"></i> Open
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="exam-detail-modal" tabindex="-1" role="dialog" aria-hidden="true">

</div>

@section Scripts {
    <script>
        function loadDetail(type, id, ex, sc) {
            $("#exam-detail-modal").load(`/exams/partials/exam-partials/${type}/${id}/detail?ex=${ex}&sc=${sc}`, function () {
                $("#exam-detail-modal").modal('show');
            });
        }
    </script>
}