@page "/exams/exam-categories"
@model ASPCoreMVC.Web.Pages.Exams.ExamsIndexModel
@{
    Model.SetBreadcrumb(
    new string[] { L["Exam categories"].Value, "#" });
}

<div class="row">
    @foreach (var item in Model.Exams)
    {
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-primary">
                    <h6 class="m-0 font-weight-bold text-white">@item.Exam.Name</h6>
                    <a href="javascript:loadDetail('@item.Exam.Id','@ASPCoreMVC.Common.HelperTipsTypes.Exam','@item.Exam.Id');"
                       class="d-inline-block btn btn-sm btn-success shadow-sm">
                        <i class="fas fa-star fa-sm text-white mr-1"></i> Open general exam
                    </a>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="mb-1">@L["Select your Instructor"]</label>
                        <select class="form-control instructors-selector"
                                id="@item.Exam.Id"
                                data-ec="@item.Exam.Id"
                                data-live-search="true">
                            <option value="" class="font-italic">@L["Select your instructor"]</option>
                        </select>
                    </div>
                    <div class="separator my-2" id="gi-list-state">@L["Select the practice test"]</div>
                    <div id="accordion">
                        @foreach (var sc in item.Scs)
                        {
                            <div class="card">
                                <div class="card-header" id="h-@sc.Cat.Id" data-toggle="collapse" data-target="#c-@sc.Cat.Id" aria-expanded="true" aria-controls="c-@sc.Cat.Id">
                                    <div class="">
                                        <i class="fas fa-arrow-alt-circle-right mx-2"></i>
                                        <span class="font-weight-bold">@sc.Cat.Name</span>
                                    </div>
                                </div>

                                <div id="c-@sc.Cat.Id" class="collapse" aria-labelledby="h-@sc.Cat.Id" data-parent="#accordion">
                                    <div class="card-body">
                                        @if (sc.Parts.Count > 1)
                                        {
                                            @foreach (var p in sc.Parts)
                                            {
                                                <div class="d-flex flex-row align-items-center justify-content-between p-2 rounded">
                                                    <div class="text-dark">
                                                        <i class="fas fa-circle mx-2"></i>
                                                        <span class="font-weight-bold">@p.Name</span>
                                                    </div>
                                                    <div class="">
                                                        <a href="javascript:loadDetail('@item.Exam.Id','@ASPCoreMVC.Common.HelperTipsTypes.SkillPart','@p.Id', '@item.Exam.Name', '@sc.Cat.Name');"
                                                           class="d-inline-block btn btn-sm btn-success shadow-sm">
                                                            <i class="fas fa-star fa-sm text-white mr-1"></i> Open
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <div class="d-flex flex-row align-items-center justify-content-between p-2 rounded">
                                            <div class="text-dark">
                                                <i class="fas fa-circle mx-2"></i>
                                                <span class="font-weight-bold">@sc.Cat.Name's synthetic</span>
                                            </div>
                                            <div class="">
                                                <a href="javascript:loadDetail('@item.Exam.Id','@ASPCoreMVC.Common.HelperTipsTypes.SkillCategory','@sc.Cat.Id','@item.Exam.Name');"
                                                   class="d-inline-block btn btn-sm btn-success shadow-sm">
                                                    <i class="fas fa-star fa-sm text-white mr-1"></i> Open
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="exam-detail-modal" tabindex="-1" role="dialog" aria-hidden="true">

</div>

@section Scripts {
    <script>
        function loadDetail(instructorRef, type, id, ex, sc) {
            var instructorId = $(`#${instructorRef}`).val();
            if (instructorId) {
                $("#exam-detail-modal").load(`/exams/partials/exam-partials/${type}/${id}/detail?ex=${ex}&sc=${sc}&instructor=${instructorId}`, function () {
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                    $("#exam-detail-modal").modal('show');
                });
            } else {
                showToast('error', "Please select your instructor");
            }
        }
    </script>

    <script>
        $(".instructors-selector").each(function () {
            var e = $(this);
            var ecId = e.data("ec");
            fetch(`/api/app/exam-cat-instruct?ExamCategoryId=${ecId}&SkipCount=0&MaxResultCount=1000`)
                .then(r => r.json())
                .then(rd => {
                    if (rd.success && rd.data && rd.data.items) {
                        rd.data.items.forEach(item => {
                            e.append(`<option value="${item.id}">${item.userDisplayName}</option>`);
                        });
                        e.selectpicker();
                    }
                }).catch(err => {

                });
        });
    </script>
}